soap/src/main/resources/soap/patients/patients.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:sch="com/itrail/soap"
    xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="com/itrail/soap/generated/patients" targetNamespace="com/itrail/soap/generated/patients">
    <wsdl:types>
        <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="com/itrail/soap/generated/patients">

            <xs:element name="getPatientRequestFindById">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="id_patient" type="xs:long" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            
            <xs:element name="getPatientRequestFindAll">
                <xs:complexType>
                    <xs:sequence>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>

            <xs:element name="getPatientRequestAdd">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="id_patient" type="xs:long" />
                        <xs:element name="surname" type="xs:string" />
                        <xs:element name="name" type="xs:string" />
                        <xs:element name="full_name" type="xs:string" />
                        <xs:element name="gender" type="tns:Gender" /> 
                        <xs:element name="phone" type="xs:string" />
                        <xs:element name="address" type="xs:string" />
                        <xs:element name="id_document" type="xs:long" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>

            <xs:element name="getPatientResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="patient" type="tns:patient" /> 
                    </xs:sequence>
                </xs:complexType>
            </xs:element>

           <xs:simpleType name="Gender">
                <xs:restriction base="xs:string">
                <xs:enumeration value="MAN"/>
                <xs:enumeration value="WOMAN"/>
                </xs:restriction>
            </xs:simpleType>

            <xs:complexType name="patient">
                <xs:sequence>
                    <xs:element name="id_patient" type="xs:long" />
                    <xs:element name="surname" type="xs:string" />
                    <xs:element name="name" type="xs:string" />
                    <xs:element name="full_name" type="xs:string" />
                    <xs:element name="gender" type="tns:Gender" /> 
                    <xs:element name="phone" type="xs:string" />
                    <xs:element name="address" type="xs:string" />
                    <!--xs:element name="document" type="tns:document" /!-->
                </xs:sequence>
            </xs:complexType>
        </xs:schema>

    </wsdl:types>

    <wsdl:message name="getPatientRequestFindById">
        <wsdl:part element="tns:getPatientRequestFindById" name="getPatientRequestFindById">
        </wsdl:part>
    </wsdl:message>

    <wsdl:message name="getPatientRequestFindAll">
        <wsdl:part element="tns:getPatientRequestFindAll" name="getPatientRequestFindAll">
        </wsdl:part>
    </wsdl:message>

    <wsdl:message name="getPatientRequestAdd">
        <wsdl:part element="tns:getPatientRequestAdd" name="getPatientRequestAdd">
        </wsdl:part>
    </wsdl:message>

    <wsdl:portType name="PatientsPort">

        <wsdl:operation name="getPatientFindById">
            <wsdl:input message="tns:getPatientRequestFindById" name="getPatientRequestFindById"></wsdl:input>
            <wsdl:output message="tns:getPatientResponse" name="getPatientResponse"></wsdl:output>
        </wsdl:operation>

        <wsdl:operation name="getPatientAll">
            <wsdl:input message="tns:getPatientRequestFindAll" name="getPatientRequestFindAll"></wsdl:input>
            <wsdl:output message="tns:getPatientResponse" name="getPatientResponse"></wsdl:output>
        </wsdl:operation>

        <wsdl:operation name="getPatientAdd">
            <wsdl:input message="tns:getPatientRequestAdd" name="getPatientRequestAdd"></wsdl:input>
            <wsdl:output message="tns:getPatientResponse" name="getPatientResponse"></wsdl:output>
        </wsdl:operation>

    </wsdl:portType>

    <wsdl:binding name="PatientsPortSoap" type="tns:PatientsPort">
        <soap:binding style="patient" transport="http://schemas.xmlsoap.org/soap/http" />

        <wsdl:operation name="getPatientFindById">
            <soap:operation soapAction="" />
            <wsdl:input name="getPatientRequestFindById">
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output name="getPatientResponse">
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>

        <wsdl:operation name="getPatientAll">    
            <wsdl:input name="getPatientRequestFindAll">
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output name="getPatientResponse">
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>

        <wsdl:operation name="getPatientAdd">    
            <wsdl:input name="getPatientRequestAdd">
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output name="getPatientResponse">
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>

    </wsdl:binding>

    <wsdl:service name="PatientsPortService">
        <wsdl:port binding="tns:PatientsPortSoap" name="PatientsPortSoap">
            <soap:address location="https://localhost:8088/ws" />
        </wsdl:port>
    </wsdl:service>
    
</wsdl:definitions> 