soap/src/main/resources/documents.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:sch="com/itrail/soap"
    xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="com/itrail/soap/xsd" targetNamespace="com/itrail/soap/xsd">
    <wsdl:types>
        <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="com/itrail/soap/xsd">

            <xs:element name="getDocumentRequest">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="id_document" type="xs:long" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>

            <xs:element name="getDocumentResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="document" type="tns:document" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>

            <xs:complexType name="document">
                <xs:sequence>
                    <xs:element name="id_document" type="xs:long" />
                    <xs:element name="type_document" type="xs:string" />
                    <xs:element name="seria" type="xs:string" />
                    <xs:element name="numar" type="xs:string" />
                    <xs:element name="snils" type="xs:string" />
                    <xs:element name="polis" type="xs:string" />
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="getDocumentResponse">
        <wsdl:part element="tns:getDocumentResponse" name="getDocumentResponse">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="getDocumentRequest">
        <wsdl:part element="tns:getDocumentRequest" name="getDocumentRequest">
        </wsdl:part>
    </wsdl:message>
    <wsdl:portType name="DocumentsPort">
        <wsdl:operation name="getDocument">
            <wsdl:input message="tns:getDocumentRequest" name="getDocumentRequest"></wsdl:input>
            <wsdl:output message="tns:getDocumentResponse" name="getDocumentResponse"></wsdl:output>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="DocumentsPortSoap11" type="tns:DocumentsPort">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
        <wsdl:operation name="getDocument">
            <soap:operation soapAction="" />
            <wsdl:input name="getDocumentRequest">
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output name="getDocumentResponse">
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="DocumentsPortService">
        <wsdl:port binding="tns:DocumentsPortSoap11" name="DocumentsPortSoap11">
            <soap:address location="http://localhost:8088/ws" />
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>